*{
    background-color:aliceblue;
}
li{
    list-style: none;
    display:inline-block ;
    margin-right: 50px;
}
h2{
    color: red;
    text-align: center;
    border: 2px dashed red;
    cursor: pointer;
}
h2>p{
    text-align: center;
    background-color: red;
    color: white;
    border: 2px dashed black;
}
p{
    color: blue;
    text-align: justify;
    border: 2px dashed green;
    cursor: progress;
}
.webtext{
    background-color: aquamarine;
}
.active{
    background-color: bisque;
}
span{
    color: white;
    background-color: red;
}
